# Mean

* 1.using formula

In [2]:
l=[10,20,30,40,50,60]
m=sum(l)/len(l)
print("mean :",m)

mean : 35.0

*2.using numpy*

In [6]:
import numpy as np
l=[10,20,30,40,50,60,]
mean=np.mean(l)
print("Mean : ",mean)

Mean :  35.0

*3. using pandas*

In [10]:
import pandas as pd 
l=[10,20,30,40,50,60]
m=pd.Series(l)
print("Mean : ",m.mean())

Mean :  35.0

*4. using statistic*

In [11]:
import statistics as stats 
l=[10,20,30,40,50,60]
mean=stats.mean(l)
print("Mean :",mean)

Mean : 35

*5. Mean through DATA SET iris*

In [16]:
import seaborn as sns
import numpy as np
d=sns.load_dataset("iris")
print(d)
print("Mean :",np.mean(d['petal_length']))

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
Mean : 3.7580000000000005